NODE_ENV=development
PORT=5050

#Local Database
DATABASE_URL="postgresql://postgres:admin@localhost:5433/soseki_db"
DIRECT_URL=""

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# File Upload
MAX_FILE_SIZE=10
UPLOAD_PATH=./uploads

# Client
CLIENT_URL="http://localhost:3000"
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW_MINUTES=15

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
ADMIN_EMAIL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
